# Logs
logs
*.log
npm-debug.log*

# Node modules
node_modules/

# Environment variables
.env

# Mac system files
.DS_Store

# Editor directories and files
.vscode/
.idea/

# Build directories
dist/
build/